.header {
  font-family: monospace;
  padding: 1rem;
  .header__title {
    text-align: center;
    margin-bottom: 0.75rem;
  }
}
.main {
  .main__feature {
    display: flex;
    justify-content: center;
    .main__feature__button {
      border: none;
      background-color: #fff;
      margin: 0.5rem;
      padding: 1rem;
      width: 150px;
      text-align: center;
      border-radius: 10px;
      transition: 0.4s;
      font-weight: 600;
      box-shadow: 1px 2px 0px 2px rgb(235, 231, 231);
      cursor: pointer;
    }
    .main__feature__button:hover {
      box-shadow: 5px 5px 1px 1px rgb(235, 231, 231);
    }
  }
  .container {
    max-width: 1280px;
    margin: 0px auto;
  }
  .wrapp-screen__fine-tunes {
    display: flex;
    flex-direction: column;
    .box-create-list__fine-tunes {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      .form-input__create__finetuning {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .form-group {
          display: flex;
           gap: 10px;
           align-items: flex-end;
          label {
            font-size: 18px;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 0px;         
          }
        }
        .btn-submit__create {
          button {
            padding: 10px 15px 10px 15px;
            cursor: pointer;
            border-radius: 5px;
            border-style: none;
          }
        }
        .input-model__fine-tunning {
          select {
            padding: 10px;
            width: 10%;
            border-radius: 5px;
          }
        }
        .input-id__fine-tuning {
          input {
            background-color: #fff;
            color: black;
            height: 25px;
            width: 35%;
            display: inline-block;
            border-radius: 5px;
          }
        }
      }
      .box-create__fine-tunes {
      border: 1px solid #324444;
      padding: 20px 40px 20px 40px;
      }
    }
    .box-list__fine-tunes {
      .table {
        border-collapse: collapse;
        width: 100%;
        th, td{
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }
        .table th {
          background-color: #f2f2f2;
        }
      }

    }
  }
  // File
  .tab {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    background: #fff;
    color: #000;
  }
  .file__tab {
    .file__tab__top {
      display: flex;
      flex-direction: column;
      .file__tab__top__upload {
        background: #279eff;
        border: none;
        border-radius: 20px;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        position: relative;
        transition: 0.4s ease-in;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: #fff;
          background: #000;
        }
      }
    }

    .file__tab__middle {
      display: flex;
      justify-content: center;
      padding: 1rem;
      table {
        width: 100%;
        border-collapse: collapse;
        overflow-y: auto;

        thead {
          tr {
            th {
              border: 3px solid;
            }
          }
        }
        tbody {
          tr {
            td {
              border: 3px solid;
              &:first-child {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .fine-tunes__tab {
    .fine-tunes__tab__top {
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    .fine-tunes__middle {
      display: flex;
      justify-content: center;
      padding: 1rem;

      table {
        width: 100%;
        border-collapse: collapse;
        overflow-y: auto;

        thead {
          tr {
            th {
              border: 3px solid;
            }
          }
        }
        tbody {
          tr {
            td {
              border: 3px solid;
              text-align: center;

              .fine-tunes-status {
                font-weight: 700;
                color: green;
              }
            }
          }
        }
      }
    }
  }
  
}
